<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>XOMYP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                margin: 20px 20px 20px 20px;
                padding: 20px 20px 20px 20px
            }
            form{border: 2px; margin: 1px 1px 1px 1px}
            div{margin: 1px 1px 1px 1px}
            td{padding: 3px 3px 3px 3px}
        </style>
    </head>
    <body>
        
        <div>Система учета взаимодействий с клиентами</div><br />
        <br />
        <a href="http://localhost:8888/index">Войти в систему</a>
    </body>
</html>
