<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <style>
            body{
                margin: 20px 20px 20px 20px;
                padding: 20px 20px 20px 20px
            }
            form{border: 2px; margin: 1px 1px 1px 1px}
            div{margin: 1px 1px 1px 1px}
            td{padding: 3px 3px 3px 3px}
            table{width: 100%}
        </style>

        <title>ХOMYP TEMA</title>
    </head>
    <body>
        <table>
            <tr><td><a href="http://localhost:8888/search">Найти "Визит"</a></td>
                <td></td>
                <td align="right"><a href="http://localhost:8888/logout">Выход</a></td></tr>
        </table>
        <br />
        <form id="addVizit">
            <input type="text" id="vizit_phone" placeholder="telefon" /><br />
            <input type="text" id="vizit_ulitsa" placeholder="ulitsa" /><br />
            <input type="text" id="vizit_dom" placeholder="dom" /><br />
            <input type="text" id="vizit_kv" placeholder="kv" /><br />
            <input type="button" onclick="sendVizit()" value="Добавить"/>
        </form><br />
        <br />
        <div id="vizit">

        </div><br />

        <br />
        
        <script>

            function showVizits() {
                $.get('vizits', function (input) {
                    console.log(input);

                    let table = "<table border='1'><tr><th>date</th><th>telefon</th><th>ulitsa</th><th>dom</th><th>kv</th>";
                    for (let i = 0; i < input.length; i++) {
                        table = table + "<tr><td>" + input[i]['date'] +"</td><td>"
                                + input[i]['phone'] + "</td><td>" + input[i]['ulitsa']
                                + "</td><td>" + input[i]['dom'] + "</td><td>" + input[i]['kv'] + "</td></tr>";
                    }
                    table = table + "</table>";
                    $('#vizit').html(table);
                });
            }

            $(document).ready(function () {
                showVizits();

            });

            function sendVizit() {
                $.ajax({
                    url: '/add',
                    dataType: 'json',
                    type: 'POST',
                    cache: false,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        phone: $('#vizit_phone').val(),
                        ulitsa: $('#vizit_ulitsa').val(),
                        dom: $('#vizit_dom').val(),
                        kv: $('#vizit_kv').val()
                    }), success: function () {
                        showVizits();}
                });
            }
        </script> 

    </body>    

</html>   


